
body {
    background-image: url(../images/gravel.png);
    margin: 1px; 
    padding-top: 100px; 
}

a {
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    /* text-align: right;  */
    /* color: black; */
    font-family: arial, Arial, Helvetica, sans-serif;
    /* font-size: 1.3vw;  */
}

a:hover {
    text-decoration: underline; 
}


p {
    font-family: Arial, Helvetica, sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    background-color: #4aaaaf; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff; 
}

nav {
    border: 1px solid #cccccc; 
}

.container {
    border: 10px solid #dddddd; 
    background-color: #ffffff; 
    padding-top: 10px; 
    margin-bottom: 75px; 
}

#footerText {
    padding: 5px; 
}

.section-title {
    color: #4aaaaf; 
    background-color: #ffffff; 
    border-bottom: 2px solid #cccccc;
    margin-left: 5px; 
    margin-right: 5px;  
 }

/* about me styles */ 
#headshot {
    
    margin: 2px; 
    padding: 2px; 
    float: left; 
    border: 1px solid #dddddd;
    height: 200px; 
    
     
}

footer {
  
    background-color: #666;
   
    border-top: 3px solid #4aaaaf;
   

}

footer p {
    color: #ffffff; 
}





